{{!-- Flags --}}
<div class="form-group">
  <label class="header">{{localize "D35E.CheckFlags"}}</label>
  <div class="buff-flags">
    <label class="checkbox">
      <input type="checkbox" name="data.changeFlags.loseDexToAC" {{checked data.changeFlags.loseDexToAC}}/> {{localize "D35E.ChangeFlagLoseDexToAC"}}
    </label>
    <label class="checkbox">
      <input type="checkbox" name="data.changeFlags.uncannyDodge" {{checked data.changeFlags.uncannyDodge}}/> {{localize "D35E.UncannyDodge"}}
    </label>
    <label class="checkbox">
      <input type="checkbox" name="data.changeFlags.noDex" {{checked data.changeFlags.noDex}}/> {{localize "D35E.ChangeFlagNoDex"}}
    </label>
    <label class="checkbox">
      <input type="checkbox" name="data.changeFlags.noStr" {{checked data.changeFlags.noStr}}/> {{localize "D35E.ChangeFlagNoStr"}}
    </label>
    <label class="checkbox">
      <input type="checkbox" name="data.changeFlags.noCon" {{checked data.changeFlags.noCon}}/> {{localize "D35E.ChangeFlagNoCon"}}
    </label>
    <label class="checkbox">
      <input type="checkbox" name="data.changeFlags.noInt" {{checked data.changeFlags.noInt}}/> {{localize "D35E.ChangeFlagNoInt"}}
    </label>
    <label class="checkbox">
      <input type="checkbox" name="data.changeFlags.oneInt" {{checked data.changeFlags.oneInt}}/> {{localize "D35E.ChangeFlagOneInt"}}
    </label>
    <label class="checkbox">
      <input type="checkbox" name="data.changeFlags.oneWis" {{checked data.changeFlags.oneWis}}/> {{localize "D35E.ChangeFlagOneWis"}}
    </label>
    <label class="checkbox">
      <input type="checkbox" name="data.changeFlags.oneCha" {{checked data.changeFlags.oneCha}}/> {{localize "D35E.ChangeFlagOneCha"}}
    </label>
    <label class="checkbox">
      <input type="checkbox" name="data.changeFlags.noEncumbrance" {{checked data.changeFlags.noEncumbrance}}/> {{localize "D35E.ChangeFlagDwarflikeEncumbrance"}}
    </label>
    <label class="checkbox">
      <input type="checkbox" name="data.changeFlags.mediumArmorFullSpeed" {{checked data.changeFlags.mediumArmorFullSpeed}}/> {{localize "D35E.ChangeFlagMediumArmorFullSpeed"}}
    </label>
    <label class="checkbox">
      <input type="checkbox" name="data.changeFlags.heavyArmorFullSpeed" {{checked data.changeFlags.heavyArmorFullSpeed}}/> {{localize "D35E.ChangeFlagHeavyArmorFullSpeed"}}
    </label>
    <label class="checkbox">
      <input type="checkbox" name="data.changeFlags.multiAttack" {{checked data.changeFlags.multiAttack}}/> {{localize "D35E.ChangeFlagMultiAttack"}}
    </label>
    <label class="checkbox">
      <input type="checkbox" name="data.changeFlags.multiweaponAttack" {{checked data.changeFlags.multiweaponAttack}}/> {{localize "D35E.ChangeFlagMultiweaponAttack"}}
    </label>
    <label class="checkbox">
      <input type="checkbox" name="data.changeFlags.hasted" {{checked data.changeFlags.hasted}}/> {{localize "D35E.ChangeFlagHasted"}}
    </label>
  </div>
</div>

<div class="form-group">
  <div class="form-group">
    <label>{{localize "D35E.Size"}}</label>
    <select class="actor-size" name="data.sizeOverride">
      <option value="">None</option>
      {{#select data.sizeOverride}}
      {{#each config.actorSizes as |label size|}}
      <option value="{{size}}">{{label}}</option>
      {{/each}}
      {{/select}}
    </select>
  </div>
</div>

<div class="form-group">
  <label>Counter</label>
  <input class="bordered" type="text" name="data.counterName" value="{{data.counterName}}" data-dtype="String"/>
</div>

<div>
  {{!-- Changes --}}
  <h3 class="form-header">
    {{localize "D35E.Changes"}}
    <a class="change-control add-change" style="font-size: 15px; line-height: 15px;"><i class="fas fa-plus"></i></a>
  </h3>
  <ol class="changes form-group">
    {{#each data.changes as |change a|}}
    <li class="change flexrow" data-change="{{a}}">
      <input type="text" name="data.changes.{{a}}.0" value="{{lookup this "0"}}"
                                                     placeholder="{{localize "D35E.Formula"}}" />
      <select name="data.changes.{{a}}.1">
        {{#select (lookup this "1") }}
        <option value="">{{localize "D35E.None"}}</option>
        {{#each ../changes.targets as |target type|}}
        <option value="{{type}}">{{target}}</option>
        {{/each}}
        {{/select}}
      </select>
      <select name="data.changes.{{a}}.2">
        {{#select (lookup this "2") }}
        {{#each subTargets as |target type|}}
        <option value="{{type}}">{{target}}</option>
        {{/each}}
        {{/select}}
      </select>
      <select name="data.changes.{{a}}.3">
        {{#select (lookup this "3") }}
        {{#each ../changes.modifiers as |name type|}}
        <option value="{{type}}">{{name}}</option>
        {{/each}}
        {{/select}}
      </select>
      <a class="change-control delete-change"><i class="fas fa-minus"></i></a>
    </li>
    {{/each}}
    {{#unless data.changes}}
    <li class="change flexrow">
      <div style="width: 100%; opacity: 0.7; text-align: center">{{localize "D35E.ThereAreNo"}} {{localize "D35E.Changes"}}. {{{localize "D35E.UsePlusToAdd"}}}</div>
    </li>
    {{/unless}}
  </ol>

</div>
<div>
{{#if hasCombatChanges}}
  {{!-- Changes --}}
  <h3 class="form-header">
    {{localize "D35E.CombatChangesSettings"}}
  </h3>
  <div class="form-group uses-per">
    <label>{{localize "D35E.MaximumRange"}}</label>
    <input type="text" value="{{data.combatChangesRange.max}}" disabled data-dtype="Number"/>
  </div>
  <div class="form-group uses-per">
    <label>{{localize "D35E.MaximumRangeFormula"}}</label>
    <input type="text" name="data.combatChangesRange.maxFormula" value="{{data.combatChangesRange.maxFormula}}" placeholder="{{localize "D35E.MaximumRangeFormula"}}"/>
  </div>
  <em>{{localize "D35E.RangeSliderAbout"}}</em>

  <div class="form-group">
    <label>{{localize "D35E.AdditionalSliders"}}</label>
    <label class="checkbox" style="position: relative; flex: 0 20px">
      <input type="checkbox" class="stylized" name="data.combatChangesAdditionalRanges.hasAdditionalRanges" {{checked data.combatChangesAdditionalRanges.hasAdditionalRanges}}/>
      <span class="checkmark"></span>
    </label>
  </div>

  {{#if data.combatChangesAdditionalRanges.hasAdditionalRanges}}

  <strong>{{localize "D35E.Slider"}} 1</strong>
  <div class="form-group uses-per">
    <label>{{localize "D35E.Name"}} <em style="opacity: 0.9; font-weight: 500">({{localize "D35E.RangeSliderAccessWith"}}1)</em></label>
    <input type="text" name="data.combatChangesAdditionalRanges.slider1.name" value="{{data.combatChangesAdditionalRanges.slider1.name}}" />
  </div>
  <div class="form-group uses-per">
    <label>{{localize "D35E.MaximumRange"}}</label>
    <input type="text" value="{{data.combatChangesAdditionalRanges.slider1.max}}" disabled data-dtype="Number"/>
  </div>
  <div class="form-group uses-per">
    <label>{{localize "D35E.MaximumRangeFormula"}}</label>
    <input type="text" name="data.combatChangesAdditionalRanges.slider1.maxFormula" value="{{data.combatChangesAdditionalRanges.slider1.maxFormula}}" placeholder="{{localize "D35E.MaximumRangeFormula"}}"/>
  </div>
  <strong>{{localize "D35E.Slider"}}2</strong>
  <div class="form-group uses-per">
    <label>{{localize "D35E.Name"}} <em style="opacity: 0.9; font-weight: 500">({{localize "D35E.RangeSliderAccessWith"}}2)</em></label>
    <input type="text" name="data.combatChangesAdditionalRanges.slider2.name" value="{{data.combatChangesAdditionalRanges.slider2.name}}"/>
  </div>
  <div class="form-group uses-per">
    <label>{{localize "D35E.MaximumRange"}}</label>
    <input type="text" value="{{data.combatChangesAdditionalRanges.slider2.max}}" disabled data-dtype="Number"/>
  </div>
  <div class="form-group uses-per">
    <label>{{localize "D35E.MaximumRangeFormula"}}</label>
    <input type="text" name="data.combatChangesAdditionalRanges.slider2.maxFormula" value="{{data.combatChangesAdditionalRanges.slider2.maxFormula}}" placeholder="{{localize "D35E.MaximumRangeFormula"}}"/>
  </div>
  <strong>{{localize "D35E.Slider"}} 3</strong>
  <div class="form-group uses-per">
    <label>{{localize "D35E.Name"}} <em style="opacity: 0.9; font-weight: 500">({{localize "D35E.RangeSliderAccessWith"}}3)</em></label>
    <input type="text" name="data.combatChangesAdditionalRanges.slider3.name" value="{{data.combatChangesAdditionalRanges.slider3.name}}"/>
  </div>
  <div class="form-group uses-per">
    <label>{{localize "D35E.MaximumRange"}}</label>
    <input type="text" value="{{data.combatChangesAdditionalRanges.slider3.max}}" disabled data-dtype="Number"/>
  </div>
  <div class="form-group uses-per">
    <label>{{localize "D35E.MaximumRangeFormula"}}</label>
    <input type="text" name="data.combatChangesAdditionalRanges.slider3.maxFormula" value="{{data.combatChangesAdditionalRanges.slider3.maxFormula}}" placeholder="{{localize "D35E.MaximumRangeFormula"}}"/>
  </div>
  {{/if}}

  <div class="form-group uses-per">
    <label>{{localize "D35E.ChargesToDeduct"}}</label>
    <select name="data.combatChangesUsesCost">
      {{#select data.combatChangesUsesCost }}
      <option value="chargesPerUse">{{localize "D35E.ChargesToDeduct"}}</option>
      <option value="range">{{localize "D35E.CombatChangesRange"}}</option>
      {{/select}}
    </select>
  </div>

  <div class="form-group">
    <label>{{localize "D35E.ApplySpecialActionsOnce"}}</label>
    <label class="checkbox" style="position: relative; flex: 0 20px">
      <input type="checkbox" class="stylized" name="data.combatChangesApplySpecialActionsOnce" {{checked data.combatChangesApplySpecialActionsOnce}}/>
      <span class="checkmark"></span>
    </label>
  </div>

  <h4 class="change-header">
    {{localize "D35E.CombatChanges"}}
    <a class="combat-change-control add-change"><i class="fas fa-plus"></i></a>
  </h4>
  <ol class="changes form-group">
    {{#each data.combatChanges as |change a|}}
    <li class="change flexcol" data-change="{{a}}" style="border-left: 2px solid rgba(0,0,0,0.2); padding-left: 0.5rem; margin-bottom: 0.5rem;">
      <div class="form-group" style="width: 100%; margin: 0">
        <label>{{localize "D35E.ActionType"}}</label>
        <select name="data.combatChanges.{{a}}.0" style="flex: 0 0 240px">
        {{#select (lookup this "0") }}
        {{#each ../config.combatChangeType as |name type|}}
        <option value="{{type}}">{{localize name}}</option>
        {{/each}}
        {{/select}}
      </select>
      </div>

      <div class="form-group" style="width: 100%; margin: 0">
        <label>{{localize "D35E.SubActionType"}}</label>
        <select name="data.combatChanges.{{a}}.1" style="flex: 0 0 240px">
          {{#select (lookup this "1") }}
          <option value="">{{localize "D35E.All"}}</option>
          {{#each ../config.itemActionTypes as |name type|}}
            <option value="{{type}}">{{localize name}}</option>
          {{/each}}
          {{/select}}
        </select>
      </div>
      <div class="form-group" style="width: 100%; margin: 0">
        <label>{{localize "D35E.Condition"}}</label>
      <input  class="bordered" type="text" name="data.combatChanges.{{a}}.2" value="{{lookup this "2"}}"
      placeholder="{{localize "D35E.Condition"}} {{localize "D35E.Formula"}}" />
      </div>

      <div class="form-group" style="width: 100%; margin: 0">
        <label>

          {{localize "D35E.ModifiedField"}}

        </label>
      <input class="bordered"  type="text" name="data.combatChanges.{{a}}.3" value="{{lookup this "3"}}"
      placeholder="{{localize "D35E.ModifiedField"}}" />
      </div>

      <div class="form-group" style="width: 100%; margin: 0">
        <label>{{localize "D35E.ModificationFormula"}}</label>
      <input class="bordered" type="text" name="data.combatChanges.{{a}}.4" value="{{lookup this "4"}}"
      placeholder="{{localize "D35E.ModificationFormula"}} {{localize "D35E.Formula"}}" />
      </div>


      <div class="form-group" style="width: 100%; margin: 0">
        <label>{{localize "D35E.SpecialAction"}}</label>
        <input class="bordered" type="text" name="data.combatChanges.{{a}}.5" value="{{lookup this "5"}}"
        placeholder="{{localize "D35E.SpecialAction"}}" />
      </div>

      <div class="form-group" style="width: 100%; margin: 0">
      <a style="flex: 1" class="combat-change-control delete-change">Remove <i class="fas fa-minus"></i></a>
      </div>
    </li>
    {{/each}}
    {{#unless data.combatChanges}}
    <li class="change flexrow">
      <div style="width: 100%; opacity: 0.7; text-align: center">{{localize "D35E.ThereAreNo"}} {{localize "D35E.CombatChanges"}}. {{{localize "D35E.UsePlusToAdd"}}}</div>
    </li>
    {{/unless}}
  </ol>
  {{/if}}
</div>
<div>
  {{#if hasRequirements}}
  {{!-- Requirements --}}
  <h3 class="form-header">
    {{localize "D35E.Requirements"}}
    <a class="requirement-control add-change" style="font-size: 15px; line-height: 15px;"><i class="fas fa-plus"></i></a>
  </h3>
  <ol class="changes form-group">
    {{#each data.requirements as |change a|}}
    <li class="change flexrow" data-change="{{a}}">
      <input type="text" name="data.requirements.{{a}}.0" value="{{lookup this "0"}}"
      placeholder="{{localize "D35E.Name"}}" />
      <input type="text" name="data.requirements.{{a}}.1" value="{{lookup this "1"}}"
      placeholder="{{localize "D35E.Formula"}}" />
      <select name="data.requirements.{{a}}.2">
        {{#select (lookup this "2") }}
        <option value="">{{localize "D35E.None"}}</option>
        {{#each ../config.requirements as |requirement type|}}
        <option value="{{type}}">{{requirement}}</option>
        {{/each}}
        {{/select}}
      </select>
      <a class="requirement-control delete-change"><i class="fas fa-minus"></i></a>
    </li>
    {{/each}}
    {{#unless data.requirements}}
    <li class="change flexrow">
      <div style="width: 100%; opacity: 0.7; text-align: center">{{localize "D35E.ThereAreNo"}} {{localize "D35E.Requirements"}}. {{{localize "D35E.UsePlusToAdd"}}}</div>
    </li>
    {{/unless}}
  </ol>
  {{/if}}
</div>
<div>
  {{!-- Changes --}}
  <h3 class="form-header">
    {{localize "D35E.Resistances"}}
    <a class="resistance-control add-change" style="font-size: 15px; line-height: 15px;"><i class="fas fa-plus"></i></a>
  </h3>
  <ol class="changes form-group">
    {{#each data.resistances as |change a|}}
    <li class="change flexrow" data-change="{{a}}">
      <input type="text" name="data.resistances.{{a}}.0" value="{{lookup this "0"}}"
      placeholder="{{localize "D35E.Formula"}}" />
      <select name="data.resistances.{{a}}.1">
        {{#select (lookup this "1") }}
        <option value="">{{localize "D35E.None"}}</option>
        {{#each ../energyDamageTypes as |damage type|}}
        <option value="{{damage.uid}}">{{damage.name}}</option>
        {{/each}}
        {{/select}}
      </select>
      <label class="checkbox">
        <input type="checkbox" name="data.resistances.{{a}}.2" {{checked (lookup this "2")}}/> {{ localize "D35E.Immunity" }}
      </label>
      <label class="checkbox">
        <input type="checkbox" name="data.resistances.{{a}}.3" {{checked (lookup this "3")}}/> {{ localize "D35E.Vulnerability" }}
      </label>
      <label class="checkbox">
        <input type="checkbox" name="data.resistances.{{a}}.4" {{checked (lookup this "4")}}/> {{ localize "D35E.Half" }}
      </label>
      <a class="resistance-control delete-change"><i class="fas fa-minus"></i></a>
    </li>
    {{/each}}
    {{#unless data.resistances}}
    <li class="change flexrow">
      <div style="width: 100%; opacity: 0.7; text-align: center">{{localize "D35E.ThereAreNo"}} {{localize "D35E.Resistances"}}. {{{localize "D35E.UsePlusToAdd"}}}</div>
    </li>
    {{/unless}}
  </ol>
</div>
<div>
  {{!-- Changes --}}
  <h3 class="form-header">
    {{localize "D35E.DR"}}
    <a class="dr-control add-change" style="font-size: 15px; line-height: 15px;"><i class="fas fa-plus"></i></a>
  </h3>
  <ol class="changes form-group">
    {{#each data.damageReduction as |change a|}}
    <li class="change flexrow" data-change="{{a}}">
      <input type="text" name="data.damageReduction.{{a}}.0" value="{{lookup this "0"}}"
      placeholder="{{localize "D35E.Formula"}}" />
      <select name="data.damageReduction.{{a}}.1">
        {{#select (lookup this "1") }}
        <option value="">{{localize "D35E.None"}}</option>
        {{#each ../baseDamageTypes as |damage type|}}
        <option value="{{damage.uid}}">{{damage.name}}</option>
        {{/each}}
        {{/select}}
      </select>
      <label class="checkbox">
        <input type="checkbox" name="data.damageReduction.{{a}}.2" {{checked (lookup this "2")}}/> {{ localize "D35E.Immunity" }}
      </label>
      <a class="dr-control delete-change"><i class="fas fa-minus"></i></a>
    </li>
    {{/each}}
    {{#unless data.damageReduction}}
    <li class="change flexrow">
      <div style="width: 100%; opacity: 0.7; text-align: center">{{localize "D35E.ThereAreNo"}} {{localize "D35E.DR"}}. {{{localize "D35E.UsePlusToAdd"}}}</div>
    </li>
    {{/unless}}
  </ol>
</div>

<div>
  <h3 class="form-header">
    {{localize "D35E.Other"}}
  </h3>
  <div class="form-group">
    <label>Custom Tag</label>
    <input type="text" name="data.customTag" value="{{data.customTag}}" data-dtype="String"/>
  </div>
</div>
